@model BangazonSite.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    <form asp-controller="Orders" id="formValue" class="form-inline" asp-action="BuyProduct" asp-route-id="@Model.ProductId" method="post">
        <div class="form-group">
            <label for="sel1">Select Quantity:</label>
            <select class="form-control" name="qty" id="sel1">
                @for (var i = 1; i < Model.Quantity + 1; i++)
                {<option>@i</option>}
            </select>
        </div>
        <button type="submit" value="Filter" class="btn btn-primary">Add to Cart</button>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
</div>
