@model IEnumerable<BangazonSite.Models.ProductType>

@{
    ViewData["Title"] = "Product Type Listing";
}

@*<h2>@ViewData["Title"]</h2>

@foreach (var type in (IEnumerable<object>)ViewBag["types"])
{
    @type
    <div class="row top-buffer">
        <div class="col-md-8">@type.TypeName</div>
        <div class="col-md-2">@type.ProductCount</div>
        <div class="col-md-2">
        </div>
    </div>
}*@





<h2>Product Catagories</h2>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>

                </th>
                <th>

                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                
            </td>
            <td>

            </td>
        </tr>
       
}
    </tbody>
</table>
