@model IEnumerable<BangazonSite.Models.PaymentType>

@{
    ViewData["Title"] = "Index";
}
@inject UserManager<ApplicationUser> UserManager

<h2>Welcome to the Payments Options, @UserManager.GetUserName(User)
</h2>

<p>
    <a asp-action="Create">Add New Payment Type</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.PaymentTypeId">Delete</a>
            </td>
        </tr>
}
        <tr>
            <td><a asp-area="" asp-controller="Manage" asp-action="Index">Return to Profile Page</a></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>



