@model IEnumerable<BangazonSite.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Recently Added Products</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType.Type)
                </td>
                <td>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
