@model BangazonSite.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order.PaymentType.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.PaymentType.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Order.PaymentType.AccountNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Order.PaymentType.AccountNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Order.OrderId">Complete Order</a> |
    <a asp-action="Index">Back to List</a>
</div>
