@model BangazonSite.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
    var groupedProduct = Model.Order.OrderProduct.GroupBy(i => i.ProductId);
}

<h2>Shopping Cart</h2>

<div>
    <h4>Order @Html.DisplayFor(model => model.Order.OrderId)</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <h4>Products</h4>
                </th>
                <th>
                    <h4>Quantity</h4>
                </th>
                <th>
                    <h4>Price Per Unit</h4>
                </th>
            </tr>
        </thead>
        <tbody>        
            @foreach (var product in groupedProduct)
            {
                foreach (var p in product)
                {
                    <tr>
                        <td>
                            <h5>@p.Product.Title</h5>
                        </td>
                        <td>
                            <h5>@p.Product.OrderProduct.Count(o => o.ProductId == p.ProductId)</h5>
                        </td>
                        <td>
                            <h5>@p.Product.Price</h5>
                        </td>
                        <td><a class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@Model.Order.OrderId">Delete</a></td>
                    </tr>
                    break;
                }
            }
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-default" asp-action="Complete" asp-route-id="@Model.Order.OrderId">Complete</a> |
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Order.OrderId">Cancel Order</a>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
